// CSS for SubFooter
.sub-footer-container {
    height: 375px;
    background-image: url('../../../assets/images/SubFooter/sub-footer.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}